* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.boady {
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding: 75px;
  background-color: azure;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: rgba(red, green, blue, alpha);
  border: none;
  font-size: 28px;
}

.exit-btn {
  background-color: rgba(red, green, blue, alpha);
  border: none;
  padding: 10px 10px;
  border-radius: 1rem;
}
