* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.blinking-div {
  width: 1417px;
  margin: auto;
  margin-top: 100px;
}

.blinking-text {
  font-size: 48px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  animation: blinking 0.4s infinite alternate, typing 7s steps(104) infinite;
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
